IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

body {
    background: #edfafd;
    margin-top: 10px;
}

div.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
      background-color: rgb(211, 211, 211);
  }